<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/logo-mercado-liebre.jpg" alt="...">
        <p>Lugar para poner la barra de busqueda</p>
        <p>compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <div>
                <ol>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li> 
                    <li><a href="">Ayuda</a></li>
                </ol>
            </div>
            <div>
                <ol>
                    <li><a href="">Creá tu cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis Compras</a></li>
                </ol>
            </div>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        
    </footer>
</body>
</html>